@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

body {
    background-color: deeppink;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    background-color: lightpink;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    color: rgh(255, 255, 255);
    cursor: pointer;
    font-family: "Oswald", sans-serif;

}

.btn:hover {
    opacity: 0.9;

}